<div class="weather-current-loader">
  <app-visual-loader class="visual-loader"></app-visual-loader>
  <div class="weather-current-loader__message">Пожалуйста, подождите...</div>
  <div *ngIf="position || position === 0">Перед вами в очереди: {{position}}</div>
</div>
