.weather-choose-location {
  width: 560px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -280px;
  margin-top: -75px;
  padding: 30px;
  border: 1px solid #fff;
}

.weather-choose-location__wrap {
  display: flex;
}

.weather-choose-location p {
  margin: 0;
}

.weather-choose-location .form-group {
  flex: 1;
}

.weather-choose-location .ng-select {
  font-size: 2rem;
  line-height: 1;
}

.weather-choose-location .ng-input {
  top: 0;
}

.weather-choose-location__btn {
  flex: none;
  width: 122px;
  font-size: 2rem;
  margin-left: -1px;
}

.weather-choose-location__description {
  margin-bottom: 3px;
  text-transform: uppercase;
}

@media (max-width: 530px) {
  .weather-choose-location {
    width: 100%;
    left: 0;
    margin-left: 0;
  }

  .weather-choose-location .form-group {
    margin-bottom: 10px;
    flex: none;
    width: 100%;
  }

  .weather-choose-location__btn {
    margin-left: 0;
  }

  .weather-choose-location__wrap {
    flex-wrap: wrap;
    justify-content: flex-end;
  }

  .weather-choose-location__input {
    margin-bottom: 15px;
  }

  .form-group {
    width: 100%;
  }
}

.error-message {
  position: absolute;
  bottom: 5px;
  left: 30px;
  -webkit-animation: kf_shake 0.4s 1 linear;
  -moz-animation: kf_shake 0.4s 1 linear;
  -o-animation: kf_shake 0.4s 1 linear;
}

.error-message.error-message_http {
  bottom: -45px;
}

@-webkit-keyframes kf_shake {
  0% { -webkit-transform: translate(30px); }
  20% { -webkit-transform: translate(-30px); }
  40% { -webkit-transform: translate(15px); }
  60% { -webkit-transform: translate(-15px); }
  80% { -webkit-transform: translate(8px); }
  100% { -webkit-transform: translate(0px); }
}
@-moz-keyframes kf_shake {
  0% { -moz-transform: translate(30px); }
  20% { -moz-transform: translate(-30px); }
  40% { -moz-transform: translate(15px); }
  60% { -moz-transform: translate(-15px); }
  80% { -moz-transform: translate(8px); }
  100% { -moz-transform: translate(0px); }
}
@-o-keyframes kf_shake {
  0% { -o-transform: translate(30px); }
  20% { -o-transform: translate(-30px); }
  40% { -o-transform: translate(15px); }
  60% { -o-transform: translate(-15px); }
  80% { -o-transform: translate(8px); }
  100% { -o-origin-transform: translate(0px); }
}
