<div class="weather-item weather-item__collapse weather-item_4cols">
  <div class="weather-item__cell weather-item__cell_sky">
    <span class="weather-item__sky-icon weather-item__sky-icon_type-{{item.description.code}}" attr.aria-label="{{item.description.name}}"></span>
  </div>
  <div class="weather-item__cell">
    <div class="weather-item__header">
      ветер
    </div>
    <div class="weather-item__data">
      {{item.wind.speed}} м/c ({{item.wind.direction}})
    </div>
  </div>
  <div class="weather-item__cell">
    <div class="weather-item__header">
      температура
    </div>
    <div class="weather-item__data">
      {{item.main.temp}} &#8451;
    </div>
  </div>
  <div class="weather-item__cell">
    <div class="weather-item__header">
      давление
    </div>
    <div class="weather-item__data">
      {{item.main.pressure}} мм
    </div>
  </div>
</div>
